public/uploads/2021/10/aWATTar_prices.json
[{"id":"9e5643a8c72595b5","type":"tab","label":"aWATTar","disabled":false,"info":""},{"id":"ca1a7fd2e357c01d","type":"inject","z":"9e5643a8c72595b5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"date","x":130,"y":40,"wires":[["c20adebc82f86d90"]]},{"id":"1c64c75783d889bf","type":"www-request","z":"9e5643a8c72595b5","name":"Get Prices","method":"GET","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":410,"y":220,"wires":[["783614e17ffd1509"]]},{"id":"55c6b96752398b1a","type":"debug","z":"9e5643a8c72595b5","name":"Entity Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":280,"wires":[]},{"id":"a0d6c2ee24d30894","type":"cronplus","z":"9e5643a8c72595b5","name":"Hourly","outputField":"timestamp","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"name":"Hourly","topic":"Timestamp","payloadType":"date","payload":"","expressionType":"cron","expression":"0 0 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":150,"y":100,"wires":[["c20adebc82f86d90"],[]]},{"id":"8a5f81a7448035f2","type":"moment","z":"9e5643a8c72595b5","name":"Full Hour Stop","topic":"Today","input":"timestamp","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"70","adjType":"minutes","adjDir":"add","format":"YYYY-MM-DD HH:00","locale":"C","output":"stop_date","outputType":"msg","outTz":"Europe/Berlin","x":660,"y":40,"wires":[["f0e3d1ce269f4676","39d10f59882bc216"]]},{"id":"c20adebc82f86d90","type":"moment","z":"9e5643a8c72595b5","name":"Full Hour Start","topic":"Today","input":"timestamp","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"minutes","adjDir":"add","format":"YYYY-MM-DD HH:00","locale":"C","output":"start_date","outputType":"msg","outTz":"Europe/Berlin","x":420,"y":40,"wires":[["8a5f81a7448035f2"]]},{"id":"f0e3d1ce269f4676","type":"debug","z":"9e5643a8c72595b5","name":"Times Hours","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":40,"wires":[]},{"id":"39d10f59882bc216","type":"moment","z":"9e5643a8c72595b5","name":"Full Hour Start Save","topic":"Today","input":"start_date","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"x","locale":"C","output":"start","outputType":"msg","outTz":"Europe/Berlin","x":440,"y":100,"wires":[["ce56551719fab095"]]},{"id":"ce56551719fab095","type":"moment","z":"9e5643a8c72595b5","name":"Full Hour Stop Save","topic":"Today","input":"stop_date","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"10","adjType":"minutes","adjDir":"add","format":"x","locale":"C","output":"stop","outputType":"msg","outTz":"Europe/Berlin","x":680,"y":100,"wires":[["8f6cab1ee9abda4d","453774e0eaa8c4ad"]]},{"id":"8f6cab1ee9abda4d","type":"debug","z":"9e5643a8c72595b5","name":"Times UnixMS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":100,"wires":[]},{"id":"453774e0eaa8c4ad","type":"change","z":"9e5643a8c72595b5","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"https://api.awattar.at/v1/marketdata?\"\t& \"start=\" & msg.start & \"&\"\t& \"end=\" & msg.stop","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":160,"wires":[["866a55faf54f6276","1c64c75783d889bf"]]},{"id":"866a55faf54f6276","type":"debug","z":"9e5643a8c72595b5","name":"URL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"91ec6918366a98b9","type":"debug","z":"9e5643a8c72595b5","name":"Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":220,"wires":[]},{"id":"783614e17ffd1509","type":"json","z":"9e5643a8c72595b5","name":"Payload parsing","property":"payload","action":"","pretty":true,"x":600,"y":220,"wires":[["91ec6918366a98b9","24d9fe2da14e8754"]]},{"id":"7888a1271faae0db","type":"ha-entity","z":"9e5643a8c72595b5","name":"aWATTar Price","server":"fbb2f3e2.d6216","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"aWATTar Price"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"ct/kWh"}],"state":"price","stateType":"msg","attributes":[{"property":"start","value":"payload.data[0].start_timestamp","valueType":"str"},{"property":"end","value":"payload.data[0].end_timestamp","valueType":"str"},{"property":"unit","value":"payload.data[0].unit","valueType":"str"},{"property":"price","value":"payload.data[0].marketprice","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":660,"y":280,"wires":[["55c6b96752398b1a"]]},{"id":"24d9fe2da14e8754","type":"change","z":"9e5643a8c72595b5","name":"","rules":[{"t":"set","p":"price","pt":"msg","to":"payload.data[0].marketprice / 10.0","tot":"jsonata"},{"t":"set","p":"unit_of_measurement","pt":"msg","to":"ct/kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["7888a1271faae0db"]]},{"id":"fbb2f3e2.d6216","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
