public/uploads/2021/10/charge_limiter.json
[{"id":"d94558971d4a2841","type":"tab","label":"Charging Rules","disabled":false,"info":""},{"id":"8c60a5f819bd0998","type":"api-current-state","z":"d94558971d4a2841","name":"CO2 Limit","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.charge_co2_maximum","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"co2_limit","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":100,"wires":[["c562674c061d5895"]]},{"id":"c562674c061d5895","type":"api-current-state","z":"d94558971d4a2841","name":"CO2 Limit Active","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charge_co2_limiter","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"co2_active","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":100,"wires":[["db9ea53083a10cfc"]]},{"id":"321f0977e779bcba","type":"api-current-state","z":"d94558971d4a2841","name":"CO2 Intensity","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.co2_intensity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"co2_current","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":120,"y":100,"wires":[["8c60a5f819bd0998"]]},{"id":"bda1d0b033e028bf","type":"poll-state","z":"d94558971d4a2841","name":"Set Charge Current (30s)","server":"fbb2f3e2.d6216","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_select.goecharger_max_current","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":40,"wires":[["dd050b00c07fe65c"]]},{"id":"b12ab56e2fa475a8","type":"api-current-state","z":"d94558971d4a2841","name":"SOC State","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.vf1ag000564556532_battery_level","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"soc_current","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":110,"y":160,"wires":[["bada8a274b094e2b"]]},{"id":"bada8a274b094e2b","type":"api-current-state","z":"d94558971d4a2841","name":"SOC Limit","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.goecharger_soc_limit","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"soc_limit","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":160,"wires":[["7fe16c6822035724"]]},{"id":"7fe16c6822035724","type":"api-current-state","z":"d94558971d4a2841","name":"SOC Limit Active","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.soc_limiter","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"soc_active","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":160,"wires":[["b4693e20fbefc57c"]]},{"id":"dd050b00c07fe65c","type":"change","z":"d94558971d4a2841","name":"Preset DoCharge","rules":[{"t":"set","p":"do_charge","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":40,"wires":[["321f0977e779bcba","62aaa7995d2ace5a"]]},{"id":"b2e3d7a7ee5a5693","type":"api-current-state","z":"d94558971d4a2841","name":"Price State","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.epex_prices_awattar_24h","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"price_current","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":110,"y":220,"wires":[["eead6d9969f902fb"]]},{"id":"eead6d9969f902fb","type":"api-current-state","z":"d94558971d4a2841","name":"Price Limit","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.charge_price_limit","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"price_limit","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":220,"wires":[["856a025985b4f7a8"]]},{"id":"856a025985b4f7a8","type":"api-current-state","z":"d94558971d4a2841","name":"Price Limit Active","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charge_price_limiter","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"price_active","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":220,"wires":[["df91a50712ef8ff3"]]},{"id":"562a39f96b3a908e","type":"switch","z":"d94558971d4a2841","name":"","property":"stop_charge","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":100,"wires":[["973ece6c8a35ed05"],["b12ab56e2fa475a8"]]},{"id":"df91a50712ef8ff3","type":"change","z":"d94558971d4a2841","name":"StopCharge Price","rules":[{"t":"set","p":"stop_charge","pt":"msg","to":"price_active and (price_current >= price_limit)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":220,"wires":[["437c0b62c0e3c522"]]},{"id":"b4693e20fbefc57c","type":"change","z":"d94558971d4a2841","name":"StopCharge SOC","rules":[{"t":"set","p":"stop_charge","pt":"msg","to":"soc_active and (soc_current >= soc_limit)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":160,"wires":[["23db2cf01c6a9889"]]},{"id":"db9ea53083a10cfc","type":"change","z":"d94558971d4a2841","name":"StopCharge CO2","rules":[{"t":"set","p":"stop_charge","pt":"msg","to":"co2_active and (co2_current >= co2_limit)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":100,"wires":[["562a39f96b3a908e"]]},{"id":"23db2cf01c6a9889","type":"switch","z":"d94558971d4a2841","name":"","property":"stop_charge","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":160,"wires":[["47b487f2779f5f66"],["b2e3d7a7ee5a5693"]]},{"id":"437c0b62c0e3c522","type":"switch","z":"d94558971d4a2841","name":"","property":"stop_charge","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":220,"wires":[["ab50155583f26e9c"],["9a77225dba635489"]]},{"id":"feab93055222c107","type":"api-call-service","z":"d94558971d4a2841","name":"Switch Off Charger","server":"fbb2f3e2.d6216","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.goecharger_goegarage_allow_charging","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":200,"wires":[["03756096e4bb6564"]]},{"id":"03756096e4bb6564","type":"debug","z":"d94558971d4a2841","name":"StopCharge","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":200,"wires":[]},{"id":"e0f783ccb1174014","type":"api-current-state","z":"d94558971d4a2841","name":"Start Time State","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.lade_startzeit","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.startTime","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":120,"y":380,"wires":[["7b135e8740f66152"]]},{"id":"7b135e8740f66152","type":"api-current-state","z":"d94558971d4a2841","name":"End Time State","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.lade_endzeit","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.endTime","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":380,"wires":[["3f07a9e1511def6a","3300d15f0fce2f38"]]},{"id":"3f07a9e1511def6a","type":"time-range-switch","z":"d94558971d4a2841","name":"EvalStartEndTime","lat":"","lon":"","startTime":"07:28","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":510,"y":380,"wires":[["6e68f8f921f693d8","7f78f9801a119174"],["15e95443e00b8520","51217467ff92b978"]]},{"id":"6e68f8f921f693d8","type":"debug","z":"d94558971d4a2841","name":"TimeUpper","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":340,"wires":[]},{"id":"15e95443e00b8520","type":"debug","z":"d94558971d4a2841","name":"TimeLower","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":420,"wires":[]},{"id":"7f78f9801a119174","type":"api-call-service","z":"d94558971d4a2841","name":"Switch On Charger","server":"fbb2f3e2.d6216","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.goecharger_goegarage_allow_charging","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":280,"wires":[["4d9b7f5313d3f4b5"]]},{"id":"9a77225dba635489","type":"api-current-state","z":"d94558971d4a2841","name":"Price Limit Active","server":"fbb2f3e2.d6216","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.lade_timer","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"time_active","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":130,"y":280,"wires":[["d6159834cf4c5c85"]]},{"id":"d6159834cf4c5c85","type":"switch","z":"d94558971d4a2841","name":"","property":"time_active","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":280,"wires":[["7f78f9801a119174"],["e0f783ccb1174014"]]},{"id":"62aaa7995d2ace5a","type":"debug","z":"d94558971d4a2841","name":"Trigger","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":40,"wires":[]},{"id":"3300d15f0fce2f38","type":"debug","z":"d94558971d4a2841","name":"TimeConfig","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":440,"wires":[]},{"id":"4d9b7f5313d3f4b5","type":"debug","z":"d94558971d4a2841","name":"StartCharge","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"973ece6c8a35ed05","type":"change","z":"d94558971d4a2841","name":"Reason CO2","rules":[{"t":"set","p":"stop_reason","pt":"msg","to":"CO2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":100,"wires":[["feab93055222c107"]]},{"id":"47b487f2779f5f66","type":"change","z":"d94558971d4a2841","name":"Reason SOC","rules":[{"t":"set","p":"stop_reason","pt":"msg","to":"SOC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":160,"wires":[["feab93055222c107"]]},{"id":"ab50155583f26e9c","type":"change","z":"d94558971d4a2841","name":"Reason Price","rules":[{"t":"set","p":"stop_reason","pt":"msg","to":"Price","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[["feab93055222c107"]]},{"id":"51217467ff92b978","type":"change","z":"d94558971d4a2841","name":"Reason Time","rules":[{"t":"set","p":"stop_reason","pt":"msg","to":"Time","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":380,"wires":[["feab93055222c107"]]},{"id":"fbb2f3e2.d6216","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
